@model Tuple<List<urunKategorileri>, int>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Kategori Alanları</legend>
                    @{
                        if (Model.Item1.Count == 0)
                        {
                            <div id="kategoriAlanlariYaziAlan">
                                <span>Kayıtlı kategori alanı bulunmamaktadır. Ürünlerinizi listelemek için lütfen kategori alanı ekleyiniz.</span>
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriAlanlariButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="urunKategorileriDivAlan">
                                @foreach (var item in Model.Item1)
                                {
                                    if (item.urunKategorileriUstId == 0)
                                    {

                                        <div class="urunKategorileriAlanAdlari">
                                            <span>@item.urunKategorileriKategoriAdi</span>
                                            <hr />
                                        </div>

                                    }

                                }
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriAlanlariButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                    }

                </fieldset>
            </div>
            <div class="modal fade" id="kategoriAlanlariModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Yeni Kategori Alanı</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriAlanlariModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategori alanı, kategorilerinizi gruplayacağınız ana alan adıdır. Örğ. Elektronik > Telefon..</span>
                            </div>
                            <form class="needs-validation" novalidate id="kategoriAlanlariModalForm">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="kategoriAlanAdi" class="form-label">Kategori Alan Adı *</label>
                                        <input id="kategoriAlanAdi" type="text" class="form-control" placeholder="Kategori Alan Adı" required>
                                        <div class="invalid-feedback">
                                            Bu Alan Boş Geçilemez
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                    <button class="btn btn-secondary" type="submit" id="kategoriAlanlariButonModal">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset style="width:84%;">
                    <legend>Kategori</legend>
                    @{
                        bool kategori = false;

                        foreach (var item in Model.Item1)
                        {
                            if(item.urunKategorileriUstId != 0)
                            {
                                kategori = true;
                            }
                        }
                        if (!kategori)
                        {
                            <div id="kategoriAlanlariYaziAlan">
                                <span>Kayıtlı kategori bulunmamaktadır. Ürünlerinizi listelemek için lütfen kategori ekleyiniz.</span>
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriButon" data-bs-target="#kategoriModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="KategorilerDivAlanUrun">
                                @foreach (var item in Model.Item1)
                                {
                                    if (item.urunKategorileriUstId != 0)
                                    {

                                        <div class="KategorilerAdlari">
                                            <span>@item.urunKategorileriKategoriAdi</span>
                                            <hr />
                                        </div>

                                    }

                                }
                            </div>
                            <div id="kategoriButonAlan">
                                <button class="btn btn-secondary" id="kategoriButon" data-bs-target="#kategoriModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                    }
                </fieldset>
            </div>
            <div class="modal fade" id="kategoriModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Yeni Kategori</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategori, ürünlerinizi gruplayacağınız alan adıdır.<br /> Örğ. İos > İphone 11..</span>
                            </div>
                            <form class="needs-validation" novalidate id="kategoriModalForm">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="selectLabel" class="form-label selectLabelKategori">Kategori Alanları *</label>
                                        <select id="selectLabel" class="form-select kategoriSelect" size="2">
                                            @foreach (var item in Model.Item1)
                                            {
                                                @if (item.urunKategorileriUstId == 0)
                                                {
                                                    <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="kategoriAdi" class="form-label kategoriAdi">Kategori Adı *</label>
                                        <input id="kategoriAdi" type="text" class="form-control" placeholder="Kategori Adı" required>
                                        <div class="invalid-feedback">
                                            Bu Alan Boş Geçilemez
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                    <button class="btn btn-secondary" type="submit" id="kategoriButonModal">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <fieldset style="width:95%;">
                    <legend>Kategoriler Detay</legend>
                    @{
                        if (Model.Item1.Count == 0)
                        {
                            if (!kategori)
                            {
                                <div id="kategoriAlanlariYaziAlan">
                                    <span>Kayıtlı kategori alanı ve kategori bulunmamaktadır. Kategori detaylarını listelemek için lütfen kategori alanı ve kategori ekleyiniz.</span>
                                </div>
                                <div id="kategoriDetayButonAlan">
                                    <button class="btn btn-secondary" id="kategoriDetayButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                        <div>
                                            <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                        </div>
                                        <div>
                                            <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                        </div>
                                    </button>
                                </div>
                            }
                        }
                        else
                        {
                <div class="kategorilerDetayAlan">
                    @{

                        urunKategorileri baslikKategoriAlan = Model.Item1.FirstOrDefault(x => x.urunKategorileriUstId == ((uint)Model.Item2));

                        <div class="kategorilerDetaySpanAlan" data-bs-toggle="modal" data-bs-target="#kategoriDetaylariModal">
                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Kategori Alanları" style="cursor: pointer; color: white; align-self: center;">
                            </span>
                        </div>
                        <div style="padding-top: 10px; max-height: 110px;" class="urunKategorileriDivAlan">
                            @foreach (var item in Model.Item1)
                            {
                                if (item.urunKategorileriUstId == baslikKategoriAlan.urunKategorileriId)
                                {
                                    <div class="kategorilerDetaySpanAlanIcerik">
                                        <span>@item.urunKategorileriKategoriAdi</span>
                                        <hr />
                                    </div>
                                }


                            }

                        </div>
                    }
                </div>

                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriAlanlariButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                    }

                </fieldset>
            </div>
            <div class="modal fade" id="kategoriDetaylariModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Kategori Detayları</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriAlanlariModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategorileri listelemek için bir kategori alanı seçiniz..</span>
                            </div>
                            <div class="col-md-12">
                                <label for="selectLabelDetay" class="form-label selectLabelKategori">Kategori Alanları *</label>
                                <select id="selectLabelDetay" class="form-select kategoriSelect" size="2">
                                    @foreach (var item in Model.Item1)
                                    {
                                        @if (item.urunKategorileriUstId == 0)
                                        {
                                            <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    $(".kategoriSelect > option").eq(0).attr("selected", "true");
    $("#selectLabelDetay > option").eq(0).attr("selected", "true");

    var kategoriAlanAdKontrol = 0;

    (function () {
            'use strict'


            var forms = document.querySelectorAll('.needs-validation')


            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
    })()

    $("#kategoriAlanlariModalForm").submit(function (event) {
        event.preventDefault();

        if ($(".urunKategorileriAlanAdlari > span").text() != "") {

            $(".urunKategorileriAlanAdlari > span").each(function (index) {

                if ($(this).text() == $("#kategoriAlanAdi").val()) {

                    kategoriAlanAdKontrol++;

                    if (kategoriAlanAdKontrol < 2) {
                        $(".kategoriAlanlariModalBodyDiv").append('<br/><span style="color: red;">Aynı İsimde Kategori Alan Adı Ekleyemezsiniz...</span>');
                    }


                    return false;

                } else {

                    var kategoriAlan = new Object();
                    kategoriAlan.urunKategorileriKategoriAdi = $("#kategoriAlanAdi").val();

                    var kategoriAlanAdiKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (kategoriAlan.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriAlanAdiKaydet,
                            type: "POST",
                            data: kategoriAlan,
                            success: function (response) {

                                $("#kategoriAlanlariModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                        return false;
                    }
                }

            });

        }
        else {

                var kategoriAlan = new Object();
                kategoriAlan.urunKategorileriKategoriAdi = $("#kategoriAlanAdi").val();

                var kategoriAlanAdiKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                if (kategoriAlan.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriAlanAdiKaydet,
                            type: "POST",
                            data: kategoriAlan,
                            success: function (response) {


                                $("#kategoriAlanlariModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                }
        }
    });

    $("#kategoriModalForm").submit(function (event) {
        event.preventDefault();

        if ($(".KategorilerAdlari > span").text() != "") {

            $(".KategorilerAdlari > span").each(function (index) {

                if ($(this).text() == $("#kategoriAdi").val()) {

                    $(".kategoriModalBodyDiv").append('<br/><span style="color: red;">Aynı İsimde Kategori Ekleyemezsiniz...</span>');

                    return false;

                } else {

                    var kategori = new Object();
                    kategori.urunKategorileriKategoriAdi = $("#kategoriAdi").val();
                    kategori.urunKategorileriUstId = $("#selectLabel option").filter(':selected').val();



                    var kategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (kategori.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriKaydet,
                            type: "POST",
                            data: kategori,
                            success: function (response) {

                                $("#kategoriModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                        return false;
                    }
                }

            });

        }
        else {

            var kategori = new Object();
            kategori.urunKategorileriKategoriAdi = $("#kategoriAdi").val();
            kategori.urunKategorileriUstId = $("#selectLabel option").filter(':selected').val();


                var kategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (kategori.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriKaydet,
                            type: "POST",
                            data: kategori,
                            success: function (response) {


                                $("#kategoriModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                }
        }
    });

    $("#selectLabelDetay").change(function () {

        var kategoriDetayId = new Object();
        kategoriDetayId.urunKategorileriId = $(this).find("option").filter(':selected').val();

        var kategoriDetayGetir = "@Url.Action("KategoriDetayListele", "kategoriAlanlari")";

        $.ajax({
            url: kategoriDetayGetir,
            type: "POST",
            data: kategoriDetayId,
            success: function (response) {


                $("#kategoriDetaylariModal").modal('hide');

                setTimeout(function () {

                    $("#eeee").html(response);


                }, 500);

            },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }
        });
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>