@model Tuple<List<urunKategorileri>, int, List<urunKategorileri>>
@using System.Collections;

@{ArrayList kategoriAlanAdiDizi = new ArrayList();
    ArrayList kategoriDetayAdiDizi = new ArrayList();
    }

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <fieldset style="width: 84%;">
                    <legend>Kategori Alanları</legend>
                    @{
                        if (Model.Item1.Count == 0)
                        {
                            <div id="kategoriAlanlariYaziAlan">
                                <span>Kayıtlı kategori alanı bulunmamaktadır. Ürünlerinizi listelemek için lütfen kategori alanı ekleyiniz.</span>
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriAlanlariButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {

                            <div class="urunKategorileriDivAlan">
                                @foreach (var item in Model.Item1)
                                {
                                    if (item.urunKategorileriUstId == 0)
                                    {
                                        kategoriAlanAdiDizi.Add(item.urunKategorileriId);

                                        <div class="urunKategorileriAlanAdlari">
                                            <span>@item.urunKategorileriKategoriAdi</span>
                                            <hr />
                                        </div>

                                    }

                                }
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriAlanlariButon" data-bs-target="#kategoriAlanlariModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Alanı Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                    }

                </fieldset>
            </div>
            <div class="modal fade" id="kategoriAlanlariModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Yeni Kategori Alanı</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriAlanlariModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategori alanı, kategorilerinizi gruplayacağınız ana alan adıdır. Örğ. Elektronik > Telefon..</span>
                            </div>
                            <form class="needs-validation" novalidate id="kategoriAlanlariModalForm">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="kategoriAlanAdi" class="form-label">Kategori Alan Adı *</label>
                                        <input id="kategoriAlanAdi" type="text" class="form-control" placeholder="Kategori Alan Adı" required>
                                        <div class="invalid-feedback">
                                            Bu Alan Boş Geçilemez
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                    <button class="btn btn-secondary" type="submit" id="kategoriAlanlariButonModal">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset class="guncellenecek" style="width:84%;">
                    <legend>Kategori</legend>
                    @{
                        bool kategori = false;

                        foreach (var item in Model.Item1)
                        {
                            if (item.urunKategorileriUstId != 0)
                            {
                                kategori = true;
                            }
                        }
                        if (!kategori)
                        {
                            <div id="kategoriAlanlariYaziAlan">
                                <span>Kayıtlı kategori bulunmamaktadır. Ürünlerinizi listelemek için lütfen kategori ekleyiniz.</span>
                            </div>
                            <div id="kategoriAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriButon" data-bs-target="#kategoriModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="KategorilerDivAlanUrun">
                                @foreach (var item in Model.Item1)
                                {
                                    if (item.urunKategorileriUstId != 0)
                                    {

                                        <div id="@item.urunKategorileriId" class="KategorilerAdlari" data-bs-toggle="modal" data-bs-target="#altKategoriModal">
                                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Alt Kategori Ekle">@item.urunKategorileriKategoriAdi</span>
                                            <hr />
                                        </div>

                                    }

                                }
                            </div>
                            <div id="kategoriButonAlan">
                                <button class="btn btn-secondary" id="kategoriButon" data-bs-target="#kategoriModal" data-bs-toggle="modal">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                        }
                    }
                </fieldset>
            </div>
            <div class="modal fade" id="kategoriModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Yeni Kategori</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategori, ürünlerinizi gruplayacağınız alan adıdır.<br /> Örğ. İos > İphone 11..</span>
                            </div>
                            <form class="needs-validation" novalidate id="kategoriModalForm">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="selectLabel" class="form-label selectLabelKategori">Kategori Alanları *</label>
                                        <select id="selectLabel" class="form-select kategoriSelect" size="2">
                                            @foreach (var item in Model.Item1)
                                            {
                                                @if (item.urunKategorileriUstId == 0)
                                                {
                                                    <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="kategoriAdi" class="form-label kategoriAdi">Kategori Adı *</label>
                                        <input id="kategoriAdi" type="text" class="form-control" placeholder="Kategori Adı" required>
                                        <div class="invalid-feedback">
                                            Bu Alan Boş Geçilemez
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                    <button class="btn btn-secondary" type="submit" id="kategoriButonModal">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="altKategoriModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title" style="cursor:default;">Alt Kategori</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 altKategoriModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185); cursor:default;">
                                <span>Alt Kategoriler, kategorilerin ayrıntılı küçük gruplara ayrılmış halidir..</span>
                            </div>
                            <form class="needs-validation" novalidate id="altKategoriModalForm">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="altKategoriAdi" class="form-label kategoriAdi">Alt Kategori Adı *</label>
                                        <input id="altKategoriAdi" type="text" class="form-control" placeholder="Alt Kategori Adı" required>
                                        <div class="invalid-feedback">
                                            Bu Alan Boş Geçilemez
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                    <button class="btn btn-secondary" type="submit" id="altKategoriButonModal">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <fieldset style="width: 95%; height: 443px; ">
                    <legend>Kategoriler Detay</legend>
                    <div class="row" style="height:78%;">
                        <div class="col-md-4">
                            @{ if (Model.Item1.Count == 0)
                                {
                                    if (!kategori)
                                    {
                                        <div id="kategoriAlanlariYaziAlan">
                                            <span>Kayıtlı kategori alanı ve kategori bulunmamaktadır. Kategori detaylarını listelemek için lütfen kategori alanı ve kategori ekleyiniz.</span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div id="guncellenecek2" class="kategorilerDetayAlan">
                                        @{
                                            urunKategorileri baslikKategoriAlan = null;
                                            if (Convert.ToInt32(Model.Item2.ToString()) == 0)
                                            {
                                                baslikKategoriAlan = Model.Item1.FirstOrDefault(x => x.urunKategorileriId == (int)kategoriAlanAdiDizi[0]);
                                            }
                                            else
                                            {
                                                baslikKategoriAlan = Model.Item1.FirstOrDefault(x => x.urunKategorileriId == Convert.ToInt32(Model.Item2.ToString()));
                                            }


                                            <div class="kategorilerDetaySpanAlan" data-bs-toggle="modal" data-bs-target="#kategoriDetaylariModal">
                                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Kategori Alanları" style="cursor: pointer; color: white; align-self: center;">@baslikKategoriAlan.urunKategorileriKategoriAdi</span>
                                            </div>
                                            <div style="padding-top: 10px; max-height: 370px;" class="urunKategorileriDivAlan">
                                                @{
                                                    if (Model.Item1.Any(x => x.urunKategorileriUstId == baslikKategoriAlan.urunKategorileriId))
                                                    {
                                                        foreach (var item in Model.Item1)
                                                        {
                                                            if (item.urunKategorileriUstId == baslikKategoriAlan.urunKategorileriId)
                                                            {
                                                                <div id="@item.urunKategorileriId" style="cursor:pointer;" class="kategorilerDetaySpanAlanIcerik">
                                                                    <span style="cursor:pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Alt Kategoriler Detay">@item.urunKategorileriKategoriAdi</span>
                                                                    <hr />
                                                                </div>
                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="kategoriYok">
                                                            <span>Bu Kategori Alanının Kategorisi Bulunmamaktadır..</span>
                                                        </div>
                                                    }


                                                }
                                            </div>
                                        }
                                    </div>


                                                    }}
                        </div>
                        <div id="kategoriDetayAlanSutunForm" class="col-md-8" style="height:100%;">
                            <div id="kategoriDetayAlanlariButonAlan">
                                <button class="btn btn-secondary" id="kategoriDetayEkle">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Detay Ekle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-earmark-plus-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                                <button class="btn btn-secondary">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Detay Güncelle</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-medical-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                                <button class="btn btn-secondary">
                                    <div>
                                        <span id="kategoriAlanlariButonYazi">Kategori Detay Sil</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-file-x-fill" id="kategoriAlanlariButonIcon"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="kategoriDetayGosterIslem">
                                <div id="kategoriDetaylariGosterimBasliklar">
                                    <div>
                                        <span>Kategori Adı</span>
                                    </div>
                                    <div>
                                        <span>Kategori Logo</span>
                                    </div>
                                    <div>
                                        <span>Kategori Açıklama</span>
                                    </div>
                                </div>
                                @{

                                    foreach (var item in Model.Item1)
                                    {
                                        @if (item.urunKategorileriUstId == 0)
                                        {
                                            kategoriDetayAdiDizi.Add(item.urunKategorileriId);
                                        }
                                    }

                                    for (int i = 0; i < kategoriDetayAdiDizi.Count; i++)
                                    {
                                        foreach (var item in Model.Item1.Where(x => x.urunKategorileriUstId == (int)kategoriDetayAdiDizi[i]))
                                        {

                                            <div class="kategoriDetaylariGosterim">
                                                <div>
                                                    <div>
                                                        <span class="kategoriDetayIsim" id="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <i class="bi bi-alarm-fill kategoriDetayIcon"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div style="overflow-y:scroll;">
                                                        <p class="kategoriDetayAciklama">
                                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    }

                                }
                                <div class="kategoriDetaylariGosterimEkleForm">
                                    <div>
                                        <div>
                                            <select id="selectLabelKategoriDetay" class="form-select kategoriDetaySelect" size="2">
                                                @{
                                                    for (int i = 0; i < kategoriDetayAdiDizi.Count; i++)
                                                    {
                                                        foreach (var item in Model.Item1.Where(x => x.urunKategorileriUstId == (int)kategoriDetayAdiDizi[i]))
                                                        {

                                                            <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>

                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div id="kategoriDetaylariIconDiv" class="kategoriDetaylariIkonlar">
                                                <span class="kategoriDetaylariSpanForm"><i class="bi bi-alarm kategoriDetaylariIconForm"></i></span>
                                                <span class="kategoriDetaylariSpanForm"><i class="bi bi-alarm-fill kategoriDetaylariIconForm"></i></span>
                                                <span class="kategoriDetaylariSpanForm"><i class="bi bi-align-bottom kategoriDetaylariIconForm"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="overflow-y:scroll;">
                                            <textarea id="kategoriDetayTextArea" class="form-control" rows="4" placeholder="Açıklama Metni" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="butonDivKategoriDetaylari">
                                    <button id="butonKategoriDetaylariKaydet" class="btn btn-outline-secondary">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal fade" id="kategoriDetaylariModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Kategori Detayları</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriAlanlariModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Kategorileri listelemek için bir kategori alanı seçiniz..</span>
                            </div>
                            <div class="col-md-12">
                                <label for="selectLabelDetay" class="form-label selectLabelKategori">Kategori Alanları *</label>
                                <select id="selectLabelDetay" class="form-select kategoriSelect" size="2">
                                    @foreach (var item in Model.Item1)
                                    {
                                        @if (item.urunKategorileriUstId == 0)
                                        {
                                            <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="altKategoriDetaylariModal" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: 600; color: rgb(157, 163, 173); background-color: rgb(248, 248, 248);">
                            <h5 class="modal-title">Alt Kategori Detayları</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12 pb-4 text-center kategoriAlanlariModalBodyDiv" style="font-weight: bold; color:rgb(168, 174, 185);">
                                <span>Alt Kategorileri listelemek için bir alt kategori seçiniz..</span>
                            </div>
                            <div class="col-md-12">
                                <div id="altKategoriDetaylariModalBodyDivGosterim">
                                    <span id="KategoriModalSpan"></span>
                                    <i class="bi bi-arrow-down-circle-fill KategoriModalSpanIcon"></i>
                                    @{ if (Model.Item3 != null)
                                        {
                                            foreach (var item in Model.Item3)
                                            {

                                                <span id="@item.urunKategorileriId" class="KategoriModalSpan2"> @item.urunKategorileriKategoriAdi</span>

                                            }
                                        }
                                        
                                    }
                                </div>
                                <label for="altKategoriselectLabelDetay" class="form-label selectLabelKategori">Alt Kategoriler *</label>
                                <select style="position:relative;" id="altKategoriselectLabelDetay" class="form-select kategoriSelect" size="2">
                                    @{ if (Model.Item3 != null) {
                                            foreach (var item in Model.Item3)
                                            {

                                                <option value="@item.urunKategorileriId">@item.urunKategorileriKategoriAdi</option>

                                            }
                                        }
                                       
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(".kategoriDetaylariGosterimEkleForm").hide();

    $(".KategorilerDivAlanUrun").scroll(function () {

            $(".KategorilerAdlari > span").tooltip("hide");
    });

    $(".urunKategorileriDivAlan").scroll(function () {

        $(".kategorilerDetaySpanAlanIcerik > span").tooltip("hide");
    });


    $("#selectLabel > option").eq(0).attr("selected", "true");

    $("#selectLabelDetay > option").eq(0).attr("selected", "selected");

    $("#selectLabelKategoriDetay > option").eq(0).attr("selected", "selected");


    var kategoriId;
    var kategoriIsimKontrol, altKategoriIsımKontrol, kategoriAlaniIsımKontrol;
    var kategoriIsimKontrolSayi = 0, altKategoriIsımKontrolSayi = 0, kategoriAlaniIsımKontrolSayi = 0;
    var Ikon;
    var tiklandi;
    var kategoriDetayButonlar;
  
    (function () {
            'use strict'


            var forms = document.querySelectorAll('.needs-validation')


            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
    })()

    $("#kategoriAlanlariModalForm").submit(function (event) {
        event.preventDefault();

        if ($(".urunKategorileriAlanAdlari > span").text() != "") {

            $(".urunKategorileriAlanAdlari > span").each(function (index) {

                if ($(this).text() == $("#kategoriAlanAdi").val()) {
                    kategoriAlaniIsımKontrolSayi = 1;
                    if (!kategoriAlaniIsımKontrol) {
                        $(".kategoriAlanlariModalBodyDiv").append('<br/><span style="color: red;">Aynı İsimde Kategori Alan Adı Ekleyemezsiniz...</span>');
                        kategoriAlaniIsımKontrol = true;
                        return false;
                    }
                }

            });

            if (kategoriAlaniIsımKontrolSayi != 1) {

                    var kategoriAlan = new Object();
                    kategoriAlan.urunKategorileriKategoriAdi = $("#kategoriAlanAdi").val();

                    var kategoriAlanAdiKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (kategoriAlan.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriAlanAdiKaydet,
                            type: "POST",
                            data: kategoriAlan,
                            success: function (response) {

                                $("#kategoriAlanlariModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);
                                    kategoriAlaniIsımKontrol = false;

                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });


                    }
                }

            kategoriAlaniIsımKontrolSayi = 0;
        }
        else {

                var kategoriAlan = new Object();
                kategoriAlan.urunKategorileriKategoriAdi = $("#kategoriAlanAdi").val();

                var kategoriAlanAdiKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                if (kategoriAlan.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriAlanAdiKaydet,
                            type: "POST",
                            data: kategoriAlan,
                            success: function (response) {


                                $("#kategoriAlanlariModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                }
        }
    });

    $("#kategoriModalForm").submit(function (event) {
        event.preventDefault();

        if ($(".KategorilerAdlari > span").text() != "") {

            $(".KategorilerAdlari > span").each(function (index) {

                if ($(this).text() == $("#kategoriAdi").val()) {
                    kategoriIsimKontrolSayi = 1;
                    if (!kategoriIsimKontrol) {
                        $(".kategoriModalBodyDiv").append('<br/><span style="color: red;">Aynı İsimde Kategori Ekleyemezsiniz...</span>');
                        kategoriIsimKontrol = true;
                        return false;
                    }
                }

            });


            if (kategoriIsimKontrolSayi != 1) {
                var kategori = new Object();
                kategori.urunKategorileriKategoriAdi = $("#kategoriAdi").val();
                kategori.urunKategorileriUstId = $("#selectLabel option").filter(':selected').val();



                var kategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                if (kategori.urunKategorileriKategoriAdi != "") {

                    $.ajax({
                        url: kategoriKaydet,
                        type: "POST",
                        data: kategori,
                        success: function (response) {

                            $("#kategoriModal").modal('hide');

                            setTimeout(function () {

                                var index = $("#selectLabelDetay > option").filter(':selected').index();

                                $("#eeee .guncellenecek").html($(response).find(".guncellenecek").html());

                                var kategoriDetayGetir = "@Url.Action("KategoriDetayListele", "kategoriAlanlari")";

                                var kategoriDetayId = new Object();
                                kategoriDetayId.urunKategorileriId = $("#selectLabelDetay > option").filter(':selected').val();

                                $.ajax({
                                    url: kategoriDetayGetir,
                                    type: "POST",
                                    data: kategoriDetayId,
                                    success: function (response) {

                                        $("#kategoriDetaylariModal").modal('hide');

                                        setTimeout(function () {

                                            $("#eeee #guncellenecek2").html($(response).find("#guncellenecek2").html());

                                            $("#selectLabelDetay > option").eq(index).attr("selected", "selected");
                                            kategoriIsimKontrol = false;
                                        }, 500);

                                    },
                                    error: function (hata, ajaxoptions, throwerror) {
                                        alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                                    }
                                });

                            }, 500);

                        },
                        error: function (hata, ajaxoptions, throwerror) {
                            alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                        }
                    });


                }
            }

            kategoriIsimKontrolSayi = 0;
        }
        else {

            var kategori = new Object();
            kategori.urunKategorileriKategoriAdi = $("#kategoriAdi").val();
            kategori.urunKategorileriUstId = $("#selectLabel option").filter(':selected').val();


                var kategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (kategori.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: kategoriKaydet,
                            type: "POST",
                            data: kategori,
                            success: function (response) {


                                $("#kategoriModal").modal('hide');

                                setTimeout(function () {

                                     var index = $("#selectLabelDetay > option").filter(':selected').index();

                                    $("#eeee .guncellenecek").html($(response).find(".guncellenecek").html());

                                    var kategoriDetayGetir = "@Url.Action("KategoriDetayListele", "kategoriAlanlari")";

                                    var kategoriDetayId = new Object();
                                    kategoriDetayId.urunKategorileriId = $("#selectLabelDetay > option").filter(':selected').val();

                                            $.ajax({
                                                url: kategoriDetayGetir,
                                                type: "POST",
                                                data: kategoriDetayId,
                                                success: function (response) {

                                                    $("#kategoriDetaylariModal").modal('hide');

                                                    setTimeout(function () {

                                                        $("#eeee #guncellenecek2").html($(response).find("#guncellenecek2").html());

                                                        $("#selectLabelDetay > option").eq(index).attr("selected", "selected");

                                                    }, 500);

                                                },
                                                error: function (hata, ajaxoptions, throwerror) {
                                                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                                                }
                                            });


                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                }
        }
    });

    $("#selectLabelDetay").change(function () {

        var kategoriDetayId = new Object();
        kategoriDetayId.urunKategorileriId = $(this).find("option").filter(':selected').val();

        var index = $(this).find("option").filter(':selected').index();

        var kategoriDetayGetir = "@Url.Action("KategoriDetayListele", "kategoriAlanlari")";



        $.ajax({
            url: kategoriDetayGetir,
            type: "POST",
            data: kategoriDetayId,
            success: function (response) {

                $("#kategoriDetaylariModal").modal('hide');

                setTimeout(function () {

                    $("#eeee").html(response);

                    $("#selectLabelDetay > option").eq(index).attr("selected", "selected");

                }, 500);

            },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }
        });
    });

    $(".KategorilerAdlari").click(function () {
        kategoriId = $(this).attr("id");
    });

    $("#altKategoriModalForm").submit(function (event) {
        event.preventDefault();

        if ($(".KategorilerAdlari > span").text() != "") {

            $(".KategorilerAdlari > span").each(function (index) {

                if ($(this).text() == $("#altKategoriAdi").val()) {
                    altKategoriIsımKontrolSayi = 1;
                    if (!altKategoriIsımKontrol) {
                        $(".altKategoriModalBodyDiv").append('<br/><span style="color: red;">Aynı İsimde Alt Kategori Ekleyemezsiniz...</span>');
                        altKategoriIsımKontrol = true;
                        return false;
                    }


                }

            });

            if (altKategoriIsımKontrolSayi != 1) {
                    var altKategori = new Object();
                    altKategori.urunKategorileriKategoriAdi = $("#altKategoriAdi").val();
                    altKategori.urunKategorileriUstId = kategoriId;

                    var altKategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

                    if (altKategori.urunKategorileriKategoriAdi != "") {

                        $.ajax({
                            url: altKategoriKaydet,
                            type: "POST",
                            data: altKategori,
                            success: function (response) {

                                $("#altKategoriModal").modal('hide');

                                setTimeout(function () {

                                    $("#eeee").html(response);
                                    altKategoriIsımKontrol = false;

                                }, 500);

                            },
                            error: function (hata, ajaxoptions, throwerror) {
                                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                            }
                        });

                    }
            }

            altKategoriIsımKontrolSayi = 0;


        }
        else {
            alert("else");
            var altKategori = new Object();
            altKategori.urunKategorileriKategoriAdi = $("#altKategoriAdi").val();
            altKategori.urunKategorileriUstId = kategoriId;

                 var altKategoriKaydet = "@Url.Action("KategoriEkle", "kategoriAlanlari")";

            if (altKategori.urunKategorileriKategoriAdi != "") {

                $.ajax({
                    url: altKategoriKaydet,
                    type: "POST",
                    data: altKategori,
                    success: function (response) {

                        $("#altKategoriModal").modal('hide');

                        setTimeout(function () {

                            $("#eeee").html(response);


                        }, 500);

                    },
                    error: function (hata, ajaxoptions, throwerror) {
                        alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                    }
                });

                }
        }
    });

    $(".kategorilerDetaySpanAlanIcerik").click(function () {
      
        $(this).find("span").tooltip("hide");

         var altKategoriDetayId = new Object();
            altKategoriDetayId.urunKategorileriId = $(this).attr("id");
      
        var ad = $(this).find("span").text();



        var altKategoriDetayGetir = "@Url.Action("altKategoriDetayListele", "kategoriAlanlari")";

        $.ajax({
            url: altKategoriDetayGetir,
            type: "POST",
            data: altKategoriDetayId,
            success: function (response) {
               
                /*$("#eeee #altKategoriDetaylariModal .modal-body").html($(response).find("#altKategoriDetaylariModal .modal-body").html());*/
                $("#eeee").html(response);
                $("#altKategoriDetaylariModal #KategoriModalSpan").text(ad);
                $("#altKategoriDetaylariModal").modal('show');
                if (!$(response).find(".KategoriModalSpan2").is('span')) {
                    $(".KategoriModalSpanIcon:last-child").append("<span class='badge text-light' style='background-color:rgb(157, 163, 173); font-size: 20px; font-weight: bold; width:71%; border-radius:25%; margin:0 auto; text-align: center; display: block;'> Alt Kategori Bulunmamaktadır </span>");
                }
             },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }
        });

    });

    $("#altKategoriselectLabelDetay").change(function () {

      
        var altKategoriDetayId = new Object();
        altKategoriDetayId.urunKategorileriId = $(this).find("option").filter(':selected').val();


        var altKategoriDetayGetir = "@Url.Action("altKategoriDetayListele", "kategoriAlanlari")";



        $.ajax({
            url: altKategoriDetayGetir,
            type: "POST",
            data: altKategoriDetayId,
            success: function (response) {

                $("#eeee #altKategoriDetaylariModal #altKategoriselectLabelDetay").html($(response).find("#altKategoriselectLabelDetay").html());

                $("#altKategoriDetaylariModalBodyDivGosterim > span:last-child").append("<i class='bi bi-arrow-down-circle-fill KategoriModalSpanIcon'></i>");

                if ($(response).find(".KategoriModalSpan2").is('span')) {
                    $(response).find(".KategoriModalSpan2").each(function () {

                        $(".KategoriModalSpanIcon:last-child").append("<span style='font-size: 20px; font-weight: bold; color: rgb(157, 163, 173); text-align: center; display: block;'>" + $(this).text() + "</span>");
               
                        $("#altKategoriDetaylariModalBodyDivGosterim").scrollTop($("#altKategoriDetaylariModalBodyDivGosterim").height());
                    });
                } else {
                    $(".KategoriModalSpanIcon:last-child").append("<span class='badge text-light' style='background-color:rgb(157, 163, 173); font-size: 20px; font-weight: bold; width:71%; border-radius:25%; margin:0 auto; text-align: center; display: block;'> Alt Kategori Bulunmamaktadır </span>");
                    $("#altKategoriselectLabelDetay").html("<option disabled class='badge text-light' style='background-color:rgb(157, 163, 173); position:absolute; top:28%; left:16%; font-size: 20px; font-weight: bold; width:71%; border-radius:25%; margin:0 auto; text-align: center; display: block;'> Alt Kategori Bulunmamaktadır </option>");
                    $("#altKategoriDetaylariModalBodyDivGosterim").scrollTop($("#altKategoriDetaylariModalBodyDivGosterim").height());
                }
                   
  

            },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }
        });
    });

    $(".kategoriDetaylariSpanForm").click(function () {


        $(this).parent().find("span").css({

            "background-color": "white"

        });

        $(this).parent().find("i").css({

            "background-color": "white",
            "color": "rgb(168, 174, 185)"

        });

        $(this).find("i").css({

            "background-color": "rgb(214, 214, 214)",
            "color": "white"

        });

        $(this).css({

            "background-color": "rgb(214, 214, 214)"

        });

        Ikon = $(this).find("i").attr("class");

        Ikon = Ikon.substring(Ikon.length - 26, 0);

        tiklandi = 1;

        $("#kategoriDetayAlanSutunForm").trigger("DOMSubtreeModified");

    });

    $("#kategoriDetayTextArea").keyup(function () {
        if (!$(this).val()) {
            bos = 1;
            $(".butonDivKategoriDetaylari").slideUp("slow");
        } else {
            bos = 0;
            $("#kategoriDetayAlanSutunForm").trigger("DOMSubtreeModified");
        }
    });

    $("#kategoriDetayAlanSutunForm").on("DOMSubtreeModified", function () {
        if (tiklandi == 1 && bos == 0) {
            if ($(".butonDivKategoriDetaylari").css("display") != "none") {

            } else {
                $(".butonDivKategoriDetaylari").slideDown("slow").effect('shake');
            }
        }
    });

    $("#kategoriDetayEkle").click(function () {
        $(".kategoriDetaylariGosterim").fadeOut();
       
        setTimeout(function () {
            $(".kategoriDetaylariGosterimEkleForm").fadeIn();
        },500);
    });

    $("#kategoriDetayAlanlariButonAlan > button").click(function () {
        $(this).css({
            "transform": "scale(1.1)",
            "background-color": "rgb(143, 148, 155)",
            "height": "50px",
            "color": "white"
        });
        kategoriDetayButonlar = $(this);
        setTimeout(function () {
            $(kategoriDetayButonlar).animate({opacity: 0}, 1000);
        }, 400);
        setTimeout(function () {
            $(kategoriDetayButonlar).after("<button class='btn btn-secondary' id='kategoriDetayListele'><div><span id='kategoriAlanlariButonYazi'>Kategori Detay Listele</span></div><div><i class='bi bi-file-earmark-plus-fill' id='kategoriAlanlariButonIcon'></i></div></button>");
            $(kategoriDetayButonlar).css("display", "none");
            $(kategoriDetayButonlar).next().effect("shake");
            $("#kategoriDetayListele").click(function () {
                $(".kategoriDetaySelect, .kategoriDetaylariIkonlar, #kategoriDetayTextArea").fadeOut();
                setTimeout(function () {
                    $(".kategoriDetayIsim, .kategoriDetayIcon, .kategoriDetayAciklama").fadeIn();
                }, 500);
                $(this).css({
                    "transform": "scale(1.1)",
                    "background-color": "rgb(143, 148, 155)",
                    "height": "50px",
                    "color": "white",
                    "transition": "1s"
                });
                var b = $(this);
                setTimeout(function () {
                    $(b).animate({ opacity: 0 }, 1000);
                }, 1000);
                setTimeout(function () {
                    $(kategoriDetayButonlar).css({
                        "display": "flex",
                        "opacity":"1",
                    });
                    $(kategoriDetayButonlar).attr("style", "");
                    $(b).css("display", "none");
                    $(kategoriDetayButonlar).effect("shake");
                }, 1000);
            });
        }, 1000);
        
    });

    $("#butonKategoriDetaylariKaydet").click(function () {


        var kategoriVerileri = new Object();
        kategoriVerileri.urunKategorileriId = $("#selectLabelKategoriDetay").find("option").filter(':selected').val();


        var kategoriDetaylariVerileri = new Object();
        kategoriDetaylariVerileri.urunKategorileri = kategoriVerileri
        kategoriDetaylariVerileri.urunKategorileriDetayLogo = Ikon;
        kategoriDetaylariVerileri.urunKategorileriKategoriAciklama = $("#kategoriDetayTextArea").val();

        var kategoriDetayTabloKaydet = "@Url.Action("kategoriDetayEkle", "kategoriAlanlari")";

        $.ajax({
            url: kategoriDetayTabloKaydet,
            data: kategoriDetaylariVerileri,
            type: "POST",
            success: function (veri) {

                $("#selectLabelKategoriDetay, #kategoriDetaylariIconDiv, #kategoriDetayTextArea").fadeOut();

                setTimeout(function () {
                    $("#eeee").css("display", "none").html(veri).find(".kategoriDetayIsim, .kategoriDetayIcon, .kategoriDetayAciklama").css("display", "none");

                    $("#eeee").css("display", "block");

                    $(".kategoriDetayIsim, .kategoriDetayIcon, .kategoriDetayAciklama").fadeIn();

                }, 500);
            },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }
        });

         
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>