@model Tuple<List<AciklamaMetni>, int> 

<div class="container">
    <ul class="sagTikMenu">
        <li>
            <a class="btn sil">Sil</a>
        </li>
    </ul>
    <label id="labelCount" style="display:none;">@Model.Item2</label>
    <div class="row">
        <div class="col-md-12 border-top mt-4">
            <div class="mt-1 col-md-1">
                <i class="bi bi-file-plus-fill aciklamaMetniEkleIcon" title="Ekle" data-bs-toggle="tooltip" data-bs-placement="right"></i>
                <i class="bi bi-x-circle-fill aciklamaMetniGeriIcon" title="Geri" data-bs-toggle="tooltip" data-bs-placement="right"></i>
            </div>
            <div class="text-muted mt-4" id="aciklamaMetni">
                @foreach (var item in Model.Item1)
                {
                    if (Model.Item2 < 3)
                    {
                        if (item.Id == 1)
                        {
                            <div id="@item.Id" class="aciklamaMetniBaslikParagraf">
                                <h1 class="h5 aciklamaMetniBaslik">@item.aciklamaMetniBaslik</h1>
                                <p>
                                    @item.aciklamaMetniYazi
                                </p>
                            </div>
                            <hr>
                            continue;
                        }

                        if (item.Id == 2)
                        {
                            <div id="@item.Id" class="aciklamaMetniBaslikParagraf">
                                <h1 class="h5 aciklamaMetniBaslik">
                                    @item.aciklamaMetniBaslik
                                </h1>
                                <p>
                                    @{
                                        var yazi = item.aciklamaMetniYazi;
                                        var sonuc = yazi.Length - 1161;
                                        var yaziDevami = yazi.Substring(yazi.Length - sonuc);
                                        var yaziOncesi = yazi.Substring(0, 1161);

                                        if (yazi.Length <= 1161)
                                        {
                                            @yazi
                                        }
                                        else
                                        {
                                            @yaziOncesi

                                            <span class="collapse" id="devaminiGoster">
                                                @yaziDevami
                                            </span>
                                        }
                                    }
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        if (item.Id == 1)
                        {
                            <div id="@item.Id" class="aciklamaMetniBaslikParagraf">
                                <h1 class="h5 aciklamaMetniBaslik">@item.aciklamaMetniBaslik</h1>
                                <p>
                                    @item.aciklamaMetniYazi
                                </p>
                            </div>
                            <hr>
                            continue;
                        }

                        if (item.Id == 2)
                        {
                            <div id="@item.Id" class="cizgiSil aciklamaMetniBaslikParagraf">
                                <h1 class="h5 aciklamaMetniBaslik">
                                    @item.aciklamaMetniBaslik
                                </h1>
                                <p>
                                    @{
                                        var yazi = item.aciklamaMetniYazi;
                                        var sonuc = yazi.Length - 1161;
                                        var yaziDevami = yazi.Substring(yazi.Length - sonuc);
                                        var yaziOncesi = yazi.Substring(0, 1161);

                                        if (yazi.Length <= 1161)
                                        {
                                            @yazi
                                        }
                                        else
                                        {
                                            @yaziOncesi

                                            <span class="collapse" id="devaminiGoster">
                                                @yaziDevami
                                            </span>
                                        }
                                    }
                                </p>
                            </div>
                            <hr class="hr">
                            continue;
                        }
                        if (item.Id > 2)
                        {

                            <div class="collapse cizgiSil" id="devaminiGoster">
                                <div id="@item.Id" class="aciklamaMetniBaslikParagraf">
                                    <h1 class="h5 aciklamaMetniBaslik">
                                        @item.aciklamaMetniBaslik
                                    </h1>
                                    <p>
                                        @item.aciklamaMetniYazi
                                    </p>
                                </div>
                                <hr>
                            </div>
                        }
                    }
                }
                <a href="javascript:void(0)" id="aciklamaMetniLink" data-bs-toggle="collapse"
                   data-bs-target="#devaminiGoster">Devamını Göster</a>
            </div>
            <div class="formAciklamaMetni mb-5">
                <div class="col-md-6">
                    <label class="form-label" style="color: rgb(242, 121, 11) !important;">Başlık</label>
                    <input type="text" class="form-control" placeholder="Başlık" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label mt-2" style="color: rgb(242, 121, 11) !important;">Açıklama Metni</label>
                    <textarea class="form-control" rows="4" placeholder="Açıklama Metni" cols="30" required></textarea>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-warning kaydetAciklamaMetni">Kaydet</button>
                </div>
            </div>
            <div class="formAciklamaMetniGuncelle mb-5">
                <div class="col-md-6">
                    <label class="form-label" style="color: rgb(242, 121, 11) !important;">Başlık</label>
                    <input type="text" class="form-control" placeholder="Başlık" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label mt-2" style="color: rgb(242, 121, 11) !important;">Açıklama Metni</label>
                    <textarea class="form-control" rows="4" placeholder="Açıklama Metni" cols="30" required></textarea>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-warning guncelleAciklamaMetni">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {

        var bos = 1;
        var textBos = 1;
        var count;
        var id;
        var veriTabaniYazi;
        var veriTabaniBaslik;

        $(".hr").css("display", "none");
       
        $(".cizgiSil").last().find("hr").css("display", "none");
       
        $('#aciklamaMetniLink').mouseup(function () {

            if ($("#devaminiGoster").css("display") == "none") {
                $(".hr").css("display", "block");
                $(this).text("Devamını Gizle");

            } else if ($("#devaminiGoster").css("display") == "inline") {
                $(".cizgiSil").eq(0).next().css("display", "none");
                $(this).text("Devamını Göster");

            }

        });

        $('.aciklamaMetniEkleIcon').click(function () {

            $(this).fadeOut();
            $("#aciklamaMetni").fadeOut();

            setTimeout(function () {
                $(".aciklamaMetniGeriIcon").fadeIn();
                $(".formAciklamaMetni").fadeIn();
            },400);

        });

        $('.aciklamaMetniGeriIcon').click(function () {

            $(this).fadeOut();
            $('.formAciklamaMetni, .formAciklamaMetniGuncelle').fadeOut();

            setTimeout(function () {
                $(".aciklamaMetniEkleIcon").fadeIn();
                $('#aciklamaMetni').fadeIn();
            },400);

        });

        $(".formAciklamaMetni, .formAciklamaMetniGuncelle").find($("input[type='text']")).keyup(function () {
            if (!$(this).val()) {
                textBos = 1;
                $(".formAciklamaMetni, .formAciklamaMetniGuncelle").find("textarea").css("border-bottom", "1px solid rgb(242, 142, 55)");
                $(".kaydetAciklamaMetni, .guncelleAciklamaMetni").slideUp("slow");
            } else {
                textBos = 0;
                $(".formAciklamaMetni, .formAciklamaMetniGuncelle").trigger("DOMSubtreeModified");
            }
        });

        $(".formAciklamaMetni, .formAciklamaMetniGuncelle").find("textarea").keyup(function () {
            if (!$(this).val()) {
                bos = 1;
                $(".formAciklamaMetni, .formAciklamaMetniGuncelle").find("textarea").css("border-bottom", "1px solid rgb(242, 142, 55)");
                $(".kaydetAciklamaMetni, .guncelleAciklamaMetni").slideUp("slow");
            } else {
                bos = 0;
                $(".formAciklamaMetni, .formAciklamaMetniGuncelle").trigger("DOMSubtreeModified");
            }
        });

        $(".formAciklamaMetni, .formAciklamaMetniGuncelle").on("DOMSubtreeModified", function () {
            if (textBos == 0 && bos == 0) {
                if ($(".kaydetAciklamaMetni, .guncelleAciklamaMetni").css("display") != "none") {

                } else {
                    $(".kaydetAciklamaMetni, .guncelleAciklamaMetni").slideDown("slow");

                    setTimeout(function () {
                        $(".formAciklamaMetni, .formAciklamaMetniGuncelle").find("textarea").css("border-bottom", "0");
                    }, 400);
                }
            }
        });

        $(".kaydetAciklamaMetni").click(function () {
            var baslik = $(".formAciklamaMetni").find("input[type='text']").val().trim();
            var metin = $(".formAciklamaMetni").find("textarea").val().trim();
            count = $("#labelCount").text();

            var aciklamaMetniBilgileri = new Object();
            aciklamaMetniBilgileri.aciklamaMetniBaslik = baslik;
            aciklamaMetniBilgileri.aciklamaMetniYazi = metin;

            var aciklamaMetniKaydet = "@Url.Action("aciklamaMetniKayit", "aciklamaMetni")";

            $.ajax({
                url: aciklamaMetniKaydet,
                data: aciklamaMetniBilgileri,
                type: "POST",
                success: function (donenHtml) {
                    if (count >= 6) {

                        $("#modalBilgiYaziAlan").text("En Fazla 6 Açıklama Metni Ekleye Bilirsiniz..").css("font-size","26px");

                        $("#modalBilgi").modal('show');

                    } else {

                        $(".aciklamaMetniGeriIcon").fadeOut();
                        $(".formAciklamaMetni").fadeOut();

                        setTimeout(function() {

                            $("#eeee").css("display", "none").html(donenHtml).find(".aciklamaMetniEkleIcon, #aciklamaMetni").css("display", "none");

                            $("#eeee").css("display", "block");

                            $(".aciklamaMetniEkleIcon, #aciklamaMetni").fadeIn();

                        }, 400);
                    }
                }, error: function (hata, ajaxoptions, throwerror) {
                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                }
            });
        });

        $(".aciklamaMetniBaslikParagraf").contextmenu(function () {

            id = $(this).attr("id");

        });

        $(".sagTikMenu .sil").click(function () {

            count = $("#labelCount").text();

            var aciklamaMetniBilgileri = new Object();
            aciklamaMetniBilgileri.Id = id;

            var aciklamaMetniSil = "@Url.Action("aciklamaMetniSil", "aciklamaMetni")";

            $.ajax({
                url: aciklamaMetniSil,
                data: aciklamaMetniBilgileri,
                type: "POST",
                success: function (donenHtml) {

                    if (count <= 2) {

                        $("#modalBilgiYaziAlan").text("En Az 2 Açıklama Metni Olmak Zorunda..").css("font-size","26px");

                        $("#modalBilgi").modal('show');

                    } else if (id == 1 || id == 2) {

                        $("#modalBilgiYaziAlan").text("Bu Açıklama Metni Silinemez..");

                        $("#modalBilgi").modal('show');

                    } else {

                        $("#aciklamaMetni").fadeOut();

                        setTimeout(function() {

                            $("#eeee").css("display", "none").html(donenHtml).find("#aciklamaMetni").css("display", "none");

                            $("#eeee").css("display", "block");

                            $("#aciklamaMetni").fadeIn();

                        }, 400);
                    }
                }, error: function (hata, ajaxoptions, throwerror) {
                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                }
            });

        });

        $('.aciklamaMetniBaslikParagraf').click(function () {

            id = $(this).attr("id");

            veriTabaniBaslik = $(this).find("h1").text();

            veriTabaniYazi = $(this).find("p").text();

            $(".aciklamaMetniEkleIcon").fadeOut();
            $("#aciklamaMetni").fadeOut();

            setTimeout(function () {
                $(".formAciklamaMetniGuncelle").find("input[type='text']").attr("value", veriTabaniBaslik);
                $(".formAciklamaMetniGuncelle").find("textarea").text(veriTabaniYazi.trim()),
                $(".aciklamaMetniGeriIcon").fadeIn();
                $(".formAciklamaMetniGuncelle").fadeIn();
            }, 400);

        });

        $(".guncelleAciklamaMetni").click(function () {

            var baslik = $(".formAciklamaMetniGuncelle").find("input[type='text']").val().trim();
            var metin = $(".formAciklamaMetniGuncelle").find("textarea").val().trim();

            var aciklamaMetniBilgileri = new Object();
            aciklamaMetniBilgileri.aciklamaMetniBaslik = baslik;
            aciklamaMetniBilgileri.aciklamaMetniYazi = metin;
            aciklamaMetniBilgileri.Id = id;

            var aciklamaMetniGuncelle = "@Url.Action("aciklamaMetniGuncelle", "aciklamaMetni")";

            $.ajax({
                url: aciklamaMetniGuncelle,
                data: aciklamaMetniBilgileri,
                type: "POST",
                success: function (donenHtml) {
                    if (veriTabaniBaslik == baslik) {

                        $("#modalBilgiYaziAlan").text("Aynı Başlığı Yazamazsınız..").css("font-size","26px");

                        $("#modalBilgi").modal('show');

                    } else if (veriTabaniYazi == metin) {

                        $("#modalBilgiYaziAlan").text("Aynı Metni Yazamazsınız..").css("font-size", "26px");

                        $("#modalBilgi").modal('show');

                    } else {

                        $(".aciklamaMetniGeriIcon").fadeOut();
                        $(".formAciklamaMetniGuncelle").fadeOut();

                        setTimeout(function() {

                            $("#eeee").css("display", "none").html(donenHtml).find(".aciklamaMetniEkleIcon, #aciklamaMetni").css("display", "none");

                            $("#eeee").css("display", "block");

                            $(".aciklamaMetniEkleIcon, #aciklamaMetni").fadeIn();

                        }, 400);
                    }
                }, error: function (hata, ajaxoptions, throwerror) {
                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                }
            });
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>