@model Tuple<List<ustAlan>, List<siteLogo>, List<siparisHatti>>

<div class="container">
    <div class="modal fade" id="modalUstAlan" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-light bg-danger">
                    <h5 class="modal-title">Uyarı!</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <span class="display-6 text-danger" id="modalUstAlanYaziAlan" style="font-weight: 300; font-size: calc(1.3rem + 1vw); "></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4 text-end" id="badges">
            @foreach (var item in Model.Item1)
            {
                <span id="@item.Id" class="badge text-muted"><i class="@item.ustAlanIcon"></i> @item.ustAlanYazi</span>
            }



            <div class="input-group input-group-lg ustAlanDuzenlemeIkonAlan">
                <span class="input-group-text ustAlanDuzenlemeIkonSpan">İkonlar:</span>
                <div id="ustAlanDuzenlemeIconDiv" class="ustAlanDuzenlemeIkonlar">
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-alarm ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-alarm-fill ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                    <div class="ustAlanDuzenlemeAraCubuk"></div>
                    <span class="ustAlanDuzenlemeSpan"><i class="bi bi-align-bottom ustAlanDuzenlemeIcon"></i></span>
                </div>
            </div>
            <div class="input-group input-group-lg ustAlanDuzenlemeAdAlan">
                <span class="input-group-text ustAlanDuzenlemeAdSpan">Yazı Bölümü:</span>
                <textarea class="form-control ustAlanDuzenlemeAdTextarea" rows="4" cols="30"></textarea>
            </div>
            <div class="butonDivUstAlan">
                <button id="butonUstAlanKaydet" class="btn btn-outline-secondary">Kaydet</button>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-2 me-5 align-self-center" id="foto">
            @foreach (var item in Model.Item2)
            {
                <a id="logoATag" style="cursor:pointer;">
                    <img id="@item.Id" src="@item.siteLogoFoto" class="img-fluid" />
                </a>
            }


            <form id="formLogo" name="form" style="display:none;" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <input onchange="logoFotoYukle('logo');" class="form-control" type="file" id="logo">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4  d-flex align-items-center" id="ara">
            <form class="col-md-12">
                <div class="input-group ">
                    <input type="search" disabled style="cursor:no-drop;" id="form" placeholder="Ne Aramak İstersiniz" class="form-control" />
                    <a href="javascript:void(0)"><button disabled id="buton" class="btn"><i style="cursor:no-drop;" class="bi bi-search" id="icon"></i></button></a>
                </div>
            </form>
        </div>
        <div class="col-md-2 text-center" id="siparis">

            @foreach (var item in Model.Item3)
            {
                <h5 id="@item.Id" class="text-muted siparisHatti">
                    <i class="@item.siparisHattiIcon"></i> <span class="siparisHattiYazi">@item.siparisHattiYazi</span><span class="badge bg-warning ms-3 siparisHattiTel">
                        @item.siparisHattiTel
                    </span>
                </h5>
            }

            <div class="siparisHattiDuzenlemeDiv">
                <div style=" width:100%; display: flex;">

                    <div class="siparisHattiIkonlar">
                        <span class="siparisHattiDuzenlemeSpan">
                            <i class="bi bi-alarm siparisHattiDuzenlemeIcon"></i>
                        </span>
                        <div class="siparisHattiDuzenlemeAraCubuk"></div>
                        <span class="siparisHattiDuzenlemeSpan">
                            <i class="bi bi-alarm-fill siparisHattiDuzenlemeIcon"></i>
                        </span>
                        <div class="siparisHattiDuzenlemeAraCubuk"></div>
                        <span class="siparisHattiDuzenlemeSpan">
                            <i class="bi bi-align-bottom siparisHattiDuzenlemeIcon"></i>
                        </span>
                        <div class="siparisHattiDuzenlemeAraCubuk"></div>
                        <span class="siparisHattiDuzenlemeSpan">
                            <i class="bi bi-align-bottom siparisHattiDuzenlemeIcon"></i>
                        </span>
                    </div>

                    <div style="width:80%; ">
                        <input type="text" class="form-control siparisHattiInput" placeholder="Yazı" style="width: 100%; color: rgb(168, 174, 185) !important;" />
                        <input onkeypress="return isNumberKey(event)" type="text" class="form-control siparisHattiInput1" placeholder="Telefon" style="width: 100%; color: rgb(168, 174, 185) !important;" />
                    </div>
                </div>
                <div class="butonDivSiparisHatti">
                    <button id="butonSiparisHattiKaydet" class="btn btn-outline-secondary">Kaydet</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center" id="sepet">
            <button class="btn btn-outline-warning btn-lg" disabled>
                <i class="bi bi-cart-fill" style="font-size: 27px; position: relative; z-index: 2;">
                    <span class="badge rounded-pill bg-warning border border-light"
                          style="font-size: 10px; position: absolute; left:15px; z-index: 1;">
                        0
                    </span>
                </i>Sepetim
            </button>
        </div>
    </div>
</div>
<script>

    var tiklandi = 0;
    var bos = 1;
    var InputVal;
    var Ikon;
    var id = 0;
    var veriTabaniYazi;
    var veriTabaniIkon;
    var veriTabaniTel;
    var input1Sayi;
    var input1Val;

    $("#badges > div").hide();

    $("#badges > .badge").click(function () {

        id = $(this).attr("id");

        veriTabaniIkon = $(this).find("i").attr("class");

        veriTabaniYazi = $(this).find("span").text().trim();

        $("#badges > .badge").hide("pulsate");

        setTimeout(function () {
            $("#badges > div").not(".butonDivUstAlan").show("pulsate");
        },500);


    });

    $(".ustAlanDuzenlemeSpan").click(function () {


        $(this).parent().find("span").css({

            "background-color": "white"

        });

        $(this).parent().find("i").css({

            "background-color": "white",
            "color": "rgb(168, 174, 185)"

        });

        $(this).find("i").css({

            "background-color": "rgb(168, 174, 185)",
            "color": "white"

        });

        $(this).css({

            "background-color": "rgb(168, 174, 185)"

        });

        Ikon = $(this).find("i").attr("class");

        Ikon = Ikon.substring(Ikon.length - 21, 0);

        tiklandi = 1;

        $("#badges").trigger("DOMSubtreeModified");

    });

    $(".ustAlanDuzenlemeAdAlan").find("textarea").keyup(function () {
        if (!$(this).val()) {
            bos = 1;
            $(".butonDivUstAlan").slideUp("slow");
        } else {
            bos = 0;
            $("#badges").trigger("DOMSubtreeModified");
        }
    });

    $("#badges").on("DOMSubtreeModified", function () {
        if (tiklandi == 1 && bos == 0) {
            if ($(".butonDivUstAlan").css("display") != "none") {

            } else {
                $(".butonDivUstAlan").slideDown("slow");
            }
        }
    });

    $("#butonUstAlanKaydet").click(function () {

        inputVal = $(".ustAlanDuzenlemeAdAlan").find("textarea").val();

        var ustAlanBilgileri = new Object();
        ustAlanBilgileri.ustAlanYazi = inputVal;
        ustAlanBilgileri.ustAlanIcon = Ikon;
        ustAlanBilgileri.Id = id;

        var enUstSpanlarGuncelle = "@Url.Action("enUstSpanlarKayit", "ustAlan")";

        $.ajax({
            url: enUstSpanlarGuncelle,
            type: "POST",
            data: ustAlanBilgileri,
            success: function (response) {

                if(inputVal == veriTabaniYazi) {

                        $("#modalYaziAlan").text(" ");

                        $("#modalYaziAlan").text("Aynı Yazıyı Yazamazsınız..");

                        $("#modal").modal('show');

                } else if (Ikon == veriTabaniIkon) {

                    $("#modalYaziAlan").text(" ");

                    $("#modalYaziAlan").text("Aynı İkonu Seçemezsiniz..");

                    $("#modal").modal('show');

                } else {

                    $("#badges > div").hide("pulsate");

                    setTimeout(function() {

                        $("#eeee").css("display", "none").html(response).find("#badges > .badge").css("display", "none");

                        $("#eeee").css("display", "block");

                        $("#badges > .badge").show("pulsate");

                    }, 500);
                }

            },
            error: function (hata, ajaxoptions, throwerror) {
                alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
            }

        });

    });


    /* logo kod kısmı */


        $("#logoATag").click(function(){

            id = $(this).find("img").attr("id");

            $(this).hide("explode", 1000);

            setTimeout(function() {

                $("#formLogo").show("explode", 1000);

            },1000);

        });

        var logoEkle = "@Url.Action("logoKayit", "ustAlan")";

        function logoFotoYukle(veri) {

            var input = document.getElementById(veri);
            var altVeriler = input.files;
            var formData = new FormData();

            for (var i = 0; i != altVeriler.length; i++) {
                formData.append("files", altVeriler[i])
            }

            formData.append("id", id);

            //var scrollmesafe = 0;

            //scrollmesafe = $("#scroll").scrollTop();

            $.ajax(
                {
                    url: logoEkle,
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (donenVeri) {

                        $("#formLogo").hide("explode", 1000);

                        setTimeout(function () {

                            $("#eeee").css("display", "none").html(donenVeri).find("#logoATag").css("display", "none");

                            $("#eeee").css("display", "block");

                           /* $("#scroll").scrollTop(scrollmesafe);*/

                            $("#logoATag").show("explode", 1000);

                        }, 1000);

                    },
                    error: function (hata, ajaxoptions, throwerror) {
                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                }
            });

    }

    /* Sipariş Hattı Kısmı */

    $(".siparisHatti").css({
        "cursor":"pointer"
    });

    $(".siparisHatti").click(function () {

        id = $(this).attr("id");

        veriTabaniIkon = $(this).find("i").attr("class");

        veriTabaniTel = $(this).find(".siparisHattiTel").text().trim();

        veriTabaniYazi = $(this).find(".siparisHattiYazi").text().trim();

        $(".siparisHatti").hide("scale");

        setTimeout(function () {
            $(".siparisHattiDuzenlemeDiv").show("bounce");
        }, 500);

    });

    $(".siparisHattiDuzenlemeSpan").click(function () {


        $(this).parent().find("span").css({

            "background-color": "white"

        });

        $(this).parent().find("i").css({

            "background-color": "white",
            "color": "rgb(168, 174, 185)"

        });

        $(this).find("i").css({

            "background-color": "rgb(168, 174, 185)",
            "color": "white"

        });

        $(this).css({

            "background-color": "rgb(168, 174, 185)"

        });

        var veri = $(this).find("i").attr("class");

        Ikon = veri.substring(veri.length - 26, 0);

        tiklandi = 1;

        $(".siparisHattiIkonlar").trigger("DOMSubtreeModified");

    });

    $(".siparisHattiInput").keyup(function () {
        if (!$(this).val() || !$(".siparisHattiInput1").val()) {
            bos = 1;
            $(".butonDivSiparisHatti").slideUp("slow");
        } else {
            bos = 0;
            $(".siparisHattiIkonlar").trigger("DOMSubtreeModified");
        }
    });

    $(".siparisHattiInput1").keypress(function (event) {

        input1Sayi = $(this).val().length;

        if (input1Sayi == 11) {

            if (event.which != 8) {

                event.preventDefault();

            }

        }

    });

    $(".siparisHattiInput1").keyup(function () {

        input1Sayi = $(this).val().length;

        if (!$(this).val() || !$(".siparisHattiInput").val()) {
            bos = 1;
            $(".butonDivSiparisHatti").slideUp("slow");
        } else if (input1Sayi != 11) {
            bos = 1;
            $(".butonDivSiparisHatti").slideUp("slow");
        } else {
                bos = 0;
                $(".siparisHattiIkonlar").trigger("DOMSubtreeModified");
            }

    });

    $(".siparisHattiIkonlar").on("DOMSubtreeModified", function () {
        if (tiklandi == 1 && bos == 0 && input1Sayi == 11) {
            if ($(".butonDivSiparisHatti").css("display") != "none") {

            } else {
                $(".butonDivSiparisHatti").slideDown("slow");
            }
        }
    });

    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $("#butonSiparisHattiKaydet").click(function () {

        inputVal = $(this).parents(".siparisHattiDuzenlemeDiv").find(".siparisHattiInput").val();

        var input1ValDeger = $(this).parents(".siparisHattiDuzenlemeDiv").find(".siparisHattiInput1").val();

        var ilk4 = input1ValDeger.substring(input1ValDeger.length - 7, 0);
        ilk4 = ilk4.replace(ilk4, ilk4 + " ");

        var orta3 = input1ValDeger.substring(input1ValDeger.length - 4, 4);
        orta3 = orta3.replace(orta3, orta3 + " ");

        var son4 = input1ValDeger.substring(7);

        input1Val = ilk4 + orta3 + son4;


            var siparisHattiGuncelle = "@Url.Action("siparisHattiKayit", "ustAlan")";

            var siparisHattiBilgileri = new Object();
            siparisHattiBilgileri.siparisHattiYazi = inputVal;
            siparisHattiBilgileri.siparisHattiTel = input1Val;
            siparisHattiBilgileri.siparisHattiIcon = Ikon;
            siparisHattiBilgileri.Id = id;

            $.ajax({
                url: siparisHattiGuncelle,
                type: "POST",
                data: siparisHattiBilgileri,
                success: function (response) {
                 
                    if (inputVal == "") {

                        $("#modalUstAlanYaziAlan").text("Düzenleme Alanı Zorunludur..");

                        $("#modalUstAlan").modal('show');

                    } else if (inputVal == veriTabaniYazi) {

                        $("#modalUstAlanYaziAlan").text("Aynı Yazıyı Yazamazsınız..");

                        $("#modalUstAlan").modal('show');

                    } else if (input1Val == veriTabaniTel) {

                        $("#modalUstAlanYaziAlan").text("Aynı Tel. No. Giremezsiniz..");

                        $("#modalUstAlan").modal('show');

                    } else if (Ikon == undefined) {

                        $("#modalUstAlanYaziAlan").text("Lütfen İkon Seçiniz..");

                        $("#modalUstAlan").modal('show');

                    } else if (Ikon == veriTabaniIkon) {

                        $("#modalUstAlanYaziAlan").text("Aynı İkonu Seçemezsiniz..");

                        $("#modalUstAlan").modal('show');

                    } else {

                        $(".siparisHattiDuzenlemeDiv").hide("scale");

                        setTimeout(function () {

                            $("#eeee").css("display", "none").html(response).find(".siparisHatti").css("display", "none");

                            $("#eeee").css("display", "block");

                            $(".siparisHatti").show("bounce");

                        }, 500);
                    }
                },
                error: function (hata, ajaxoptions, throwerror) {
                    alert("Hata :" + hata.status + " " + throwerror + " " + hata.responseText);
                }

            });

    });

</script>